@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?u0gpm6');
    src: url('../fonts/icomoon.eot?u0gpm6#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?u0gpm6') format('truetype'), url('../fonts/icomoon.woff?u0gpm6') format('woff'), url('../fonts/icomoon.svg?u0gpm6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* используйте! Важно, чтобы предотвратить проблемы с расширениями браузера, которые изменяют шрифты */
    font-family: 'icomoon';
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Лучший рендеринг шрифтов =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
    content: "\e900";
}

.icon-quill:before {
    content: "\e907";
}

.icon-file-text2:before {
    content: "\e926";
}

.icon-credit-card:before {
    content: "\e93f";
}

.icon-phone:before {
    content: "\e942";
}

.icon-location2:before {
    content: "\e948";
}

.icon-search:before {
    content: "\e986";
}

.icon-hammer:before {
    content: "\e996";
}

.icon-gift:before {
    content: "\e99f";
}

.icon-truck:before {
    content: "\e9b0";
}

.icon-loop2:before {
    content: "\ea2e";
}

.icon-circle-up:before {
    content: "\ea41";
}

.icon-ungroup:before {
    content: "\ea59";
}

// Language rus - start
@font-face {
    font-family: 'DidactGothic-Regular';
    src: url('../fonts/DidactGothic-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa-Light';
    src: url('../fonts/Comfortaa-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa-Regular';
    src: url('../fonts/Comfortaa-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa-Medium';
    src: url('../fonts/Comfortaa-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa-Bold';
    src: url('../fonts/Comfortaa-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}

// Language en - start
// Для логотипа
@font-face {
    font-family: 'ArimaMadurai-Black';
    src: url('../fonts/ArimaMadurai-Black.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
}