*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
    padding: 0;
}

body {
    height: 2000px;
    // overflow-x: hidden;
    // прижимаю footer
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex: 1;
}

.catgor-decor {
    &::before {
        content: "– ";
        font-size: 20px;
        color: #ffffff;
    }
}