// #2pur +
@media (max-width: 1700px) {
    .content__page01_box01 {
        margin-right: 50px !important;
    }
}

// #2pur +
@media (max-width: 1400px) {
    .content__box01 h2 {
        letter-spacing: 68px !important;
    }
    .header__main_wrap {
        margin-left: 60px;
    }
}

// #2pur +
@media (max-width: 1300px) {
    .content__box01 h2 {
        letter-spacing: 50px !important;
    }
    .content__box01 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
}

// #2pur +
@media (max-width: 1200px) {
    .header__main_wrap {
        margin-left: 150px;
    }
}

// #2pur +
@media (max-width: 1100px) {
    .header__main_wrap {
        margin-left: 210px;
    }
    .content__box01 h2 {
        letter-spacing: 35px !important;
    }
    .content__box01 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

// #2pur +
@media (max-width: 950px) {
    .header__wrap-form {
        min-height: 270px;
    }
    .header__wrap-form-title {
        margin-bottom: 40px;
    }
}

// #2pur +
@media (max-width: 900px) {
    #main-nav {
        display: none !important;
    }
}

// #2pur +
@media (max-width: 800px) {
    .content__box01 h2 {
        line-height: 20px;
        letter-spacing: 23px !important;
    }
    .header__main--home-page {
        display: contents;
    }
}

// #2pur +
@media (max-width: 755px) {
    .header__wrap-form {
        min-height: 300px;
    }
    .header__wrap-form-title {
        margin-bottom: 55px;
    }
}

// #2pur +
@media (max-width: 664px) {
    .region-in {
        margin-bottom: 15px;
    }
    .header__wrap-form-box svg {
        display: none;
    }
    .header__video1 {
        display: none;
    }
    .header__bacground {
        display: block;
    }
    .header__wrap-form {
        display: none;
    }
    .content__page01_box01 {
        display: none;
    }
}

// #2pur +
@media (max-width: 650px) {
    .content__box01 h2 {
        letter-spacing: 10px !important;
    }
    .contat-page__maps iframe {
        height: 400px;
    }
}

// #2pur +
@media (max-width: 500px) {
    .content__box01 h2 {
        line-height: 20px;
        letter-spacing: 5px !important;
    }
}

// #2pur +
@media (max-width: 400px) {
    .content__box01 h2 {
        line-height: 20px;
        letter-spacing: 0 !important;
        font-size: 30px !important;
    }
}

// #2pur +
@media (max-width: 440px) {
    .contat-page__title h1 {
        font-size: 23px;
    }
    .contat-page__phone--title-other {
        font-size: 18px;
    }
    .contat-page__phone--number {
        font-size: 22px;
    }
    .contat-page__phone--title {
        font-size: 23px;
    }
    .contat-page__email--title-other {
        font-size: 18px;
    }
    .contat-page__email--text {
        font-size: 22px;
    }
    .contat-page__maps-title h2 {
        font-size: 23px;
    }
    .contat-page__maps iframe {
        height: 300px;
    }
}

// #2pur +
@media (max-width: 380px) {
    .footer__social--link {
        width: 40px !important;
        height: 40px !important;
    }
    .vkontakte {
        background-position: 72px 0px !important;
        margin-right: 185px !important;
    }
    .twitter {
        background-position: 108px 0px !important;
        margin-right: 130px !important;
    }
    .facebock {
        background-position: 36px 0px !important;
        margin-right: 75px !important;
    }
    .instagram {
        background-position: 144px 0px !important;
    }
}