// Color vars 
$blu: #0099FF;
// Language rus
@mixin d400 {
    font-family: 'DidactGothic-Regular';
    font-weight: 400;
}

@mixin c300 {
    font-family: 'Comfortaa-Light';
    font-weight: 300;
}

@mixin c400 {
    font-family: 'Comfortaa-Regular';
    font-weight: 400;
}

@mixin c500 {
    font-family: 'Comfortaa-Medium';
    font-weight: 500;
}

@mixin c700 {
    font-family: 'Comfortaa-Bold';
    font-weight: 700;
}

@mixin i000 {
    font-family: 'icomoon';
    font-weight: normal;
}

// footer stick to the bottom of page
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex: 1;
}