@import 'vars';
@import 'global';
@import 'fonts';
// #1grn header - start 
.header {
    &__main {
        height: 65px;
        width: 100%;
        background-color: #0099FF;
    }
    &__box {
        z-index: 2;
        position: absolute;
        width: 100%;
        svg {
            width: 100%;
            display: block;
            path {
                fill: #0099FF;
            }
        }
    }
    // background form 
    &__wrap {
        margin-left: auto;
        margin-right: auto;
        max-width: 950px;
        height: 100vh;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        &-form {
            z-index: 3;
            position: relative;
            min-height: 250px;
            max-width: 950px;
            width: 100%;
            background-color: #577b92;
            border-radius: 13px;
            border: 2px solid #0099FF;
            box-shadow: 0 0 15px #0099FF;
            padding-top: 15px;
            padding-bottom: 20px;
            &-title {
                @include c300;
                font-size: 22px;
                color: #fff;
                margin-bottom: 14px;
                margin-left: 5px;
            }
            &-input {
                width: 300px;
                height: 50px;
                background-color: #bbbbbb;
                border-radius: 25px;
                border: 1px solid $blu;
                padding-left: 30px;
                padding-right: 30px;
                outline: none;
                @include c300;
                font-size: 20px;
                color: #404040;
                &::placeholder {
                    @include d400;
                    font-size: 18px;
                }
            }
            &-inputform {
                width: 300px;
                height: 50px;
                background-color: $blu;
                border-radius: 25px;
                border: 1px solid $blu;
                padding-left: 30px;
                padding-right: 30px;
                outline: none;
                @include c300;
                font-size: 20px;
                color: #fff;
                cursor: pointer;
            }
            &-box select {
                width: 300px;
                height: 50px;
                background-color: #bbbbbb;
                border-radius: 25px;
                border: 1px solid $blu;
                padding-left: 30px;
                padding-right: 60px;
                // ! добавить при адаптиве
                // margin-bottom: 15px;
                outline: none;
                -webkit-appearance: none;
                appearance: none;
                cursor: pointer;
                @include d400;
                font-size: 20px;
                color: #4c4c4c;
                option {
                    @include d400;
                    font-size: 20px;
                    color: #5b5b5b;
                }
            }
            &-box {
                position: relative;
                display: inline-block;
                &:hover {
                    svg {
                        path {
                            transition: all .5s;
                            fill: #7faebd;
                        }
                    }
                }
            }
            &-box svg {
                width: 25px;
                height: 25px;
                position: absolute;
                right: 55%;
                transform: translate(50%, 50%);
                fill: lightblue;
                pointer-events: none;
                transition: fill 0.5s;
            }
        }
    }
    // background photo
    &__image {
        z-index: -1;
        position: absolute;
        top: 0;
        margin-top: 65px;
        background: var(--image-url) center center;
        background-size: cover;
        min-height: 100%;
        min-width: 100%;
    }
    // background video 
    &__video1 {
        min-height: 100vh;
        width: 100%;
        position: absolute !important;
        top: 0;
        margin-top: 65px;
    }
}

.wrapper__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.name-in,
.email-in {
    margin-bottom: 15px;
}

.title-in {
    margin-bottom: 30px;
}

// #1grn header - end
// #2pur====================
// #1grn content - start 
.wrapper {
    // .content {
    //     margin-left: auto;
    //     width: 600px;
    //     height: 800px;
    // }
    .box {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        &-img {
            position: absolute;
            top: 0;
            left: 0;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
        }
    }
}

// #1grn content - end
// #2pur====================
// #1grn  footer - start
.footer {
    position: relative;
    &__box {
        position: absolute;
        z-index: 1;
        bottom: 0;
        width: 100%;
        svg {
            width: 100%;
            display: block;
            path {
                fill: #0099FF;
            }
        }
    }
    &__main {
        position: absolute;
        height: 80px;
        width: 100%;
        background-color: #0099FF;
    }
}

// #1grn  footer - end
// #2pur====================