@import 'vars';
@import 'global';
@import 'fonts';
// #1grn header - start 
.header {
    .hc-nav-trigger {
        right: 20px;
    }
    .hc-nav-trigger span,
    .hc-nav-trigger span::before,
    .hc-nav-trigger span::after {
        background: #dbe1ff;
    }
    &__main {
        height: 65px;
        width: 100%;
        background-color: #3378CA;
        padding-top: 10px;
        position: relative;
        #main-nav {
            display: flex;
            justify-content: center;
        }
        .logo-animation {
            position: absolute;
            top: 0px;
            left: 20px;
            &__leer {
                position: absolute;
                top: -3px;
                border-radius: 10px;
                border-top: 3px solid #fff;
                animation: bounce 3s infinite linear;
                border-top-right-radius: 0px !important;
                border-top-left-radius: 0px !important;
            }
            &__leer0 {
                z-index: 5;
                bottom: -50px;
                left: 12px;
                position: absolute;
                font-family: 'Arima Madurai', cursive;
                font-size: 40px;
                color: #0064c7;
                text-shadow: -1px 0 #3c3d3e, 0 1px #3c3d3e, 1px 0 #3c3d3e, 0 -1px #3c3d3e;
            }
            &__leer1 {
                z-index: 2;
                left: 0;
                background-color: #bc6aff;
                width: 60px;
                height: 50px;
            }
            &__leer2 {
                z-index: 3;
                left: 38px;
                background-color: #fec911;
                width: 50px;
                height: 50px;
                animation-delay: 1s;
            }
            &__leer3 {
                z-index: 1;
                left: 26px;
                background-color: #15b8ff;
                width: 150px;
                height: 50px;
                animation-delay: 2s;
            }
        }
        &_wrap {
            display: flex;
            justify-content: space-between;
            width: 700px;
        }
        &--page {
            @include c400;
            font-size: 20px;
            color: #fff;
            text-decoration: none;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 30px;
            display: inline-block;
            &:hover {
                text-shadow: 0 0 10px #000000;
            }
        }
        &--home-page {
            display: none;
        }
        &-box {
            position: relative;
            display: inline-block;
            &--page1:hover>.header__main--categor {
                transition: all .3s;
                height: 288px;
                padding-bottom: 20px;
                transform: scaleY(1);
            }
        }
        &--categor {
            position: absolute;
            top: 45px;
            left: -45px;
            height: 0;
            z-index: 4;
            padding-bottom: 0;
            background-color: #3378CA;
            border-radius: 18px;
            display: flex;
            flex-direction: column;
            transition: all .5s;
            transform: scaleY(0);
            transform-origin: 50% 0;
            width: 200px;
            &-list {
                @include c300;
                font-size: 18px;
                line-height: 35px;
                color: #ffffff;
                text-decoration: none;
                padding-left: 40px;
                padding-right: 40px;
                display: block;
                &:hover {
                    color: #3378CA;
                    background-color: #add8e6;
                    border-radius: 18px;
                    font-weight: 700;
                }
            }
            & ul {
                padding: 0;
                margin: 0;
                list-style-type: none;
            }
        }
    }
    &__box {
        position: absolute;
        top: 63px;
        z-index: 2;
        width: 100%;
        svg {
            width: 100%;
            display: block;
            path {
                fill: #3378CA;
            }
        }
    }
    // background form 
    &__wrap {
        margin-left: auto;
        margin-right: auto;
        max-width: 950px;
        height: 100vh;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        &-form {
            z-index: 3;
            position: relative;
            min-height: 250px;
            max-width: 950px;
            width: 100%;
            background-color: #c1bbb4;
            border-radius: 13px;
            border: 2px solid #1C4270;
            box-shadow: 0 0 15px #004496;
            padding: 20px;
            &-title {
                @include c700;
                font-size: 22px;
                color: #462f0c;
                margin: 0 auto;
                margin-bottom: 14px;
                height: 60px;
            }
            &-input {
                width: 300px;
                height: 50px;
                background-color: #bbbbbb;
                border: 1px solid $blu;
                border-radius: 25px;
                padding-left: 30px;
                padding-right: 30px;
                outline: none;
                @include c300;
                font-size: 20px;
                color: #404040;
                &::placeholder {
                    @include d400;
                    font-size: 18px;
                }
            }
            &-inputform {
                width: 300px;
                height: 50px;
                background-color: #0099ff54;
                border: 1px solid #09f;
                border-radius: 25px;
                padding-left: 30px;
                padding-right: 30px;
                outline: none;
                @include c300;
                font-size: 20px;
                color: #fff;
                cursor: pointer;
                &:hover {
                    background-color: #3cb1ff90;
                    box-shadow: 0 0 10px #0099ff7b;
                }
            }
            &-box select {
                width: 300px;
                height: 50px;
                background-color: #bbbbbb;
                border-radius: 25px;
                border: 1px solid $blu;
                padding-left: 30px;
                padding-right: 60px;
                outline: none;
                -webkit-appearance: none;
                appearance: none;
                cursor: pointer;
                @include d400;
                font-size: 20px;
                color: #4c4c4c;
                option {
                    @include d400;
                    font-size: 20px;
                    color: #5b5b5b;
                }
            }
            &-box {
                position: relative;
                display: inline-block;
                &:hover {
                    svg {
                        path {
                            transition: all .5s;
                            fill: #7faebd;
                        }
                    }
                }
            }
            &-box svg {
                width: 25px;
                height: 25px;
                position: absolute;
                right: 55%;
                transform: translate(50%, 50%);
                fill: lightblue;
                pointer-events: none;
                transition: fill 0.5s;
            }
        }
    }
    // background photo
    &__image {
        z-index: -1;
        position: absolute;
        top: 0;
        margin-top: 65px;
        background: var(--image-url) center center;
        background-size: cover;
        min-height: 100%;
        min-width: 100%;
    }
    // background video 
    &__video1 {
        min-height: 100vh;
        width: 100%;
        position: absolute !important;
        top: 0;
        margin-top: 65px;
    }
    // background img
    &__bacground {
        background-image: url(../img/signup_form7.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
        position: absolute;
        display: none;
    }
}

#cout-00 {
    display: block;
    margin-bottom: 10px;
}

#cout-01 {
    display: inline-block;
    margin-bottom: 10px;
}

.wrapper__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.name-in,
.email-in {
    margin-bottom: 15px;
}

.title-in {
    margin-bottom: 30px;
}

// #1grn header - end
// #2pur====================
// #1grn content - start 
.wrapper {
    .content {
        &__page {
            position: relative;
            &--btn {
                position: absolute;
                bottom: 0;
                left: 0;
                margin-bottom: 25px;
                margin-left: 25px;
                width: 200px;
                height: 50px;
                background-color: #0099ff54;
                border: 1px solid #09f;
                border-radius: 25px;
                padding-left: 30px;
                padding-right: 30px;
                outline: none;
                font-family: 'Comfortaa-Light';
                font-weight: 300;
                font-size: 24px;
                color: #fff;
                cursor: pointer;
                text-decoration: none;
                display: flex;
                align-items: center;
                text-align: center;
                &:hover {
                    box-shadow: 0 0 10px #0099ff7b;
                    background-color: #0099ff9e;
                }
            }
        }
        &__page01 {
            height: 978px;
            display: flex;
            justify-content: flex-end;
            padding-top: 100px;
            &_box01 {
                width: 700px;
                height: 500px;
                background-color: #f3b777;
                margin-right: 200px;
                margin-left: 50px;
                padding: 30px;
                border-radius: 10vh;
                border: 1px solid #1C4270;
                box-shadow: 0 0 15px #004496;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                &-title {
                    @include c500;
                    font-size: 35px;
                    display: block;
                    text-align: center;
                    margin-bottom: 30px;
                    color: #844f01dd;
                    text-shadow: 0 0 3px #fff;
                }
                &-text01 {
                    @include d400;
                    font-size: 30px;
                    display: block;
                    display: flex;
                    width: 500px;
                    margin-bottom: 15px;
                    text-shadow: 0 0 30px #ffffffeb;
                }
                &-text02 {
                    @include d400;
                    font-size: 30px;
                    display: block;
                    text-align: center;
                    display: inline-block;
                    position: relative;
                    text-shadow: 0 0 10px #e6c5c5;
                    margin-bottom: 35px;
                }
                &-forma {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    &-input {
                        width: 300px;
                        height: 50px;
                        background-color: #bbbbbb;
                        border: 1px solid #09f;
                        border-radius: 25px;
                        padding-left: 30px;
                        padding-right: 30px;
                        outline: none;
                        font-family: 'Comfortaa-Light';
                        font-weight: 300;
                        font-size: 20px;
                        color: #404040;
                        margin-right: 15px;
                        margin-bottom: 15px;
                        -moz-appearance: textfield;
                        &::-webkit-inner-spin-button {
                            display: none;
                        }
                    }
                    &-btn {
                        position: absolute;
                        transform: translate(500%, 130%);
                        width: 50px;
                        height: 50px;
                        background-color: #0099ff54;
                        border-radius: 10vh;
                        border: 1px solid #09f;
                        outline: none;
                        font-family: 'Comfortaa-Light';
                        font-weight: 300;
                        font-size: 20px;
                        color: #fff;
                        cursor: pointer;
                        &:hover {
                            background-color: #3cb1ff9e;
                            box-shadow: 0 0 10px #09f;
                        }
                    }
                }
            }
        }
        &__page02 {
            height: 500px;
        }
        &__box01 {
            padding-top: 50px;
            padding-bottom: 50px;
            overflow: hidden;
            background-color: #000;
            width: 100%;
            h2 {
                @include c700;
                text-align: center;
                font-size: 35px;
                letter-spacing: 80px;
                text-transform: uppercase;
                width: 100%;
            }
        }
    }
    .box {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        &-img {
            position: absolute;
            top: 0;
            left: 0;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
        }
    }
}

.jarallax-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

// ===============================
h2:nth-child(1) {
    color: #FF1177;
    font-family: Monoton;
}

h2:nth-child(1):hover {
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
}

h2:hover {
    color: #ffffff;
}

@-webkit-keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
}

.scroll--up {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 25px;
    margin-right: 25px;
    width: 50px;
    height: 50px;
    background-color: #0099ff54;
    border: 1px solid #09f;
    border-radius: 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    &::before {
        font-family: 'icomoon';
        content: '\ea41';
        position: absolute;
        font-size: 38px;
        color: #ffffff;
        top: 3px;
        right: 5px;
    }
    &:hover {
        box-shadow: 0 0 10px #0099ff7b;
        background-color: #0099ff9e;
    }
}

// #1grn content - end
// #2pur====================
// #1grn  footer - start
.footer {
    background-color: #3398ca;
    &__social {
        margin: 0;
        &--link {
            width: 50px;
            height: 50px;
            position: absolute;
            border: 2px solid #fff;
            border-radius: 15px;
            &:hover {
                box-shadow: 0 0 10px #c1deff;
            }
        }
        .chat {
            background: url(../img/css_sprites.png) 0px 0px;
            background-size: cover;
            left: 0;
            margin-left: 20px;
            border-radius: 10vh;
        }
        .instagram {
            background: url(../img/css_sprites.png) 184px 0px;
            background-size: cover;
            right: 0;
            margin-right: 20px;
        }
        .facebock {
            background: url(../img/css_sprites.png) 46px 0px;
            background-size: cover;
            right: 0;
            margin-right: 90px;
        }
        .twitter {
            background: url(../img/css_sprites.png) 138px 0px;
            background-size: cover;
            right: 0;
            margin-right: 160px;
        }
        .vkontakte {
            background: url(../img/css_sprites.png) 92px 0px;
            background-size: cover;
            right: 0;
            margin-right: 230px;
        }
    }
    // &__box {
    //     position: absolute;
    //     z-index: 1;
    //     bottom: 0;
    //     width: 100%;
    //     svg {
    //         width: 100%;
    //         display: none;
    //         path {
    //             fill: #3378CA;
    //         }
    //     }
    // }
    &__main {
        // position: absolute;
        height: 80px;
        width: 100%;
        background-color: #3378CA;
        margin-top: 5px;
        padding-top: 18px;
    }
}

// #1grn  footer - end
// #2pur contacts page ————————————*
// #2pur contacts page ————————————*
// #2pur====================
// #1grn  cookie - start
#cookie__bar {
    display: none;
    width: 100%;
    bottom: 0px;
    position: fixed;
    z-index: 999999999;
    background-color: rgba(255, 255, 255, 0.9);
}

.cookie__bar {
    &-container {
        width: 100%;
        max-width: 80rem;
        margin: 0 auto;
        background-color: transparent;
        color: #000;
        font-size: 0.75rem;
        font-weight: 300;
        text-align: center;
        padding: 12px 15px 12px;
    }
    &--cookie-png {
        display: inline-block;
        width: 200px;
        height: auto;
    }
    &-messaging {
        margin-top: 0.75rem;
        font-size: 20px;
        a {
            color: #000;
            text-decoration: underline;
        }
    }
    &-actions {
        margin-top: 0.75rem;
        text-align: center;
        a {
            user-select: "none";
            appearance: none;
            display: inline-block;
            width: auto;
            text-decoration: none;
            text-align: center;
            vertical-align: middle;
            white-space: nowrap;
            border: 0.0625rem solid #000;
            background-color: #000;
            color: #fff;
            text-transform: uppercase;
            font-size: 0.8125rem;
            padding: 0.5rem 0.75rem;
            font-weight: bold;
            border-radius: 1.5625rem;
            transition: all 0.2s ease-in-out;
        }
    }
}

// #1grn  cookie - end
@import 'media';