#EmojiInputPopupHtml,
#EmojiInputPopupBody {
    width: 460px;
    overflow: hidden;
    font-family: sans-serif;
}

.emoji-outer {
    height: inherit;
    line-height: inherit;
}
 
.emoji-inner {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}


#emojiSelector .navEmoji {
    list-style-type: none;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    font-weight: bold;
    margin: -10px 0px 15px -46px;
    position: fixed;
    background-color: white;
    padding-top: 5px;
    height: 24px;
    font-size: 15px;
    display: block;
}

#d-emoji {
    margin-top: 14px;
	margin-left:0px;
}

#emojiSelector .navEmoji li {
    display: inline-block;
    border-right: 1px solid rgba(204,204,204,0.4);
    /*margin-left: 1px;*/
    padding-right: 2px;
}

#emojiSelector .navEmoji li:last-child {
    border: 0;
}

#emojiSelector .navEmoji li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 24px;
    height: 24px;
    background-image: url('../icons.png');
    background-size: cover;
    -webkit-filter: grayscale(80%);
    outline: 0;
}

#emojiSelector .navEmoji li a:hover {
    -webkit-filter: grayscale(0%);
}

#emojiSelector .navEmoji li #navEmojiPeople {
    background-position: 0px 0px
}

#emojiSelector .navEmoji li #navEmojiNature {
    background-position: -24px 0px
}

#emojiSelector .navEmoji li #navEmojiFoods {
    background-position: -48px 0px
}

#emojiSelector .navEmoji li #navEmojiActivity {
    background-position: -72px 0px
}

#emojiSelector .navEmoji li #navEmojiPlaces {
    background-position: -96px 0px
}

#emojiSelector .navEmoji li #navEmojiObjects {
    background-position: -120px 0px
}

#emojiSelector .navEmoji li #navEmojiSymbols {
    background-position: -144px 0px
}

#emojiSelector .navEmoji li #navEmojiFlags {
    background-position: -168px 0px
}

#emojiSelector .navEmoji li #navEmojiRecent {
    background-position: -192px 0px
}

#emojiSelector .navEmoji li #navEmojiSearch {
    background-position: -216px 0px
}

#emojiSelector .clear {
    clear: both;
}

#emojiSelector .emoji-inner {
    width: 32px;
    height: 32px;
    display: inline-block;
    padding: 0px;
    vertical-align: middle;
}

#emojiSelector .eq {
    display: inline-block;
    margin: 2px 0px 8px 8px;
}

#emojiSelector .eq:hover {
    margin: -4px -4px 4px 7px;
}

#emojiSelector .eq:hover .emoji-inner {
    width: 40px;
    height: 40px;
}

#emojiSelector .board-min {
    width: 450px;
}

#emojiSelector .tab-content {
    height: 440px;
    overflow-y: scroll;
}

#emojiSelector .tab-pane {
    display: none;
}

#emojiSelector .active {
    display: block;
}

.EmojiInput {
    width: 33px;
    height: 33px;
    display: inline-block;
    padding: 0px;
    background: url('../emoji-sprite.png');
    vertical-align: middle;
    zoom: 0.64;
}

#EmojiInputPopupBody #txtSearch {
    width: 425px;
    font-size: 12pt;
    padding: 4px;
    margin-bottom: 10px;
    display: inline-block;
}

#EmojiInputPopupBody #searchMessage {
    color: #bbb;
    text-align: center;
    padding: 50px;
}

#EmojiInputPopupBody #txtCopyBox {
    width: 355px;
    font-size: 18pt;
    padding: 3px 5px !important;
    margin: 10px 0 0 0;
    color: black;
    display: inline-block;
}

#EmojiInputPopupBody #txtCopyBox::placeholder{
	font-size:12pt;
	text-align:center;
}

#aCopy {
    display: inline-block;
    padding: 6px 0px;
	width:65px;
    background-color: #ddd;
	vertical-align:bottom;
    color: #888;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 14pt;
}

#aCopy:hover {
    color: #000;
}

.typedEmoji {
    position: absolute;
    display: none;
}

#emojiAutoComplete {
    display: none;
    position: absolute;
    border: 1px solid black;
    background-color: #4a4949 !important;
    z-index: 999999999;
    padding: 5px;
	color:lightgray !important;
}

.spanShortCode {
    padding: 3px 8px 2px 5px;
    width: auto;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

.spanShortCode span {
    display: inline-block;
    margin-left: 3px;
}

.emojiHighlighted {
    border-radius: 15px;
    background-color: black;
}

#EmojiInputPopupBody #placeholder {
    height: 65px;
    display: block;
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    text-align: center;
}

#EmojiInputPopupBody #emoji_stuff_logo {
    margin-top: 10px;
}


#EmojiInputPopupBody .bottom-links {
    width: 100%;
    margin: 10px 0px 0px 0px;
    font: 12pt Helvetica, Arial, sans-serif;
	text-align:right;
}

#EmojiInputPopupBody .bottom-links-shop {
    text-align: right;
    width: 100%;
	padding-right:20px;
}

#EmojiInputPopupBody .bottom-links a,
#EmojiInputPopupBody .bottom-links a:visited {
    color: #5f5e5e;
	text-decoration:none;
}

#EmojiInputPopupBody .bottom-links a:hover {
    color: lightgray;
}

#EmojiInputPopupBody .emoji-stuff-logo-link {
    display: block;
    height: 60px;
    background-image: url('../emoji-stuff-logo.png');
    background-position: center -15px;
    background-size: 75%;
    background-repeat: no-repeat;
}

#EmojiInputPopupBody a.my-shop {
    color: green !important;
    font-weight: bold;
}

#EmojiInputPopupBody a.my-shop:hover {
    color: blue !important;
    font-weight: bold;
}

#EmojiInputPopupBody .other_extensions a img {
    border: 0px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
    float: left;
}

#EmojiInputPopupBody .other_extensions a span {
    display: inline-block;
    float: left;
    line-height: 18px;
    text-align: left;
    margin: 10px;
}

#EmojiInputPopupBody .other_extensions a {
    line-height: 48px;
    text-decoration: none;
    color: black;
    font-size: 13px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

#EmojiInputPopupBody #social_icons div {
    display: inline-block;
    margin-top: 10px;
}

#EmojiInputPopupBody #social_icons a {
    color: #666;
    text-decoration: none;
    margin: 5px;
}

#EmojiInputPopupBody #social_icons a:hover {
    color: black;
    text-decoration: none;
}

#EmojiInputPopupBody .fa-facebook {
    color: #3b5998;
}

#EmojiInputPopupBody .fa-twitter {
    color: #00aced;
}

#EmojiInputPopupBody .fa-pinterest {
    color: #cb2027;
}

#EmojiInputPopupBody .fa-instagram {
    color: #8a3ab9;
}

#EmojiInputPopupBody .rotator {
    display: none;
}

#EmojiInputPopupBody .fadingIn {
    display: block;
    animation: fadeInFromNone 2s ease-out;
}

#EmojiInputPopupBody .fadingOut {
    display: block;
    animation: fadeOutFromBlock 2s ease-in;
}

#EmojiInputPopupBody .fadingIn:hover,
#EmojiInputPopupBody .fadingOut:hover {
    display: block;
    animation: none;
    opacity: 1;
}

#EmojiInputPopupBody .isVariation {
    display: none;
}

#EmojiInputPopupBody .isVariationShown {
    display: inline-block;
}

#EmojiInputPopupBody .hasVariations {
    position: relative;
}

#EmojiInputPopupBody .hasVariations::after {
    content:'';
    position: absolute;
    bottom:0px;
    right:0px;
    width:0;
    height:0;
    border-style: solid;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent #ccc transparent;
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}


@keyframes fadeOutFromBlock {
    0% {
        display: block;
        opacity: 1;
    }

    1% {
        display: block;
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}
a#aClearRecents, a#aClearRecents:link{color:gray !important;}
ul#t-emoji.navEmoji{text-align:center;}
ul#t-emoji.navEmoji li .caption_group_emoji{
	display: block;
    font-weight: normal;
    font-size: 12px;
}
/*For YouTube*/
ytd-grid-video-renderer #video-title.yt-simple-endpoint.ytd-grid-video-renderer, #video-title.yt-simple-endpoint.ytd-grid-video-renderer{
	max-height:fit-content !important;
}
/*twitter*/
div.css-1dbjc4n.r-1niwhzg.r-vvn4in.r-u6sd8q.r-x3cy2q.r-1p0dtai.r-xoduu5.r-1pi2tsx.r-1d2f490.r-u8s1d.r-zchlnj.r-ipm5af.r-13qz1uu.r-1wyyakw{background:none !important;}
div.css-1dbjc4n.r-1p0dtai.r-1mlwlqe.r-1d2f490.r-1udh08x.r-u8s1d.r-zchlnj.r-ipm5af.r-417010{color:rgba(0,0,0,0) !important;}
div.css-1dbjc4n.r-xoduu5.r-1mlwlqe.r-1d2f490.r-1udh08x.r-u8s1d.r-h9hxbl.r-417010{width:auto !important;height:auto !important;}
span.css-901oao.css-16my406.r-4qtqp9.r-ip8ujx.r-sjv1od.r-zw8f10.r-bnwqim.r-h9hxbl{width:24px !important; height:24px !important;padding-right:5px;}